/*global styles*/
*, *::before, *::after {
    box-sizing: border-box;
}
section:first-of-type {
  background-image: url("https://i.postimg.cc/fWmdCFd8/pexels-rachel-claire-4998006.jpg");
  height:700px;
  background-size:cover;
  background-position:center center;
  background-attachment: fixed;
}

.li menu-list-item1 {

  color:#FFDA87

}


 
body {
    background-color:#353b48;
    margin:0;
}

  .page-footer ul {
    display: flex;
    list-style-type: none;
    padding-left: 30px;
  }

  i {
    font-size: 20px;
    height: 40px;
    width: 40px;
    background: black;
    border-radius: 50%;
    line-height: 40px;
    color: white;
    text-align: center;
  }

  .page-footer .container {
    max-height: 200px;
    padding: 0 150px;
    background-color: #808080;
    }



  





